.stat-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat-box {
  display: flex;
  align-items: center; /* Align items horizontally */
  width: 30%;
  padding: 10px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-icon {
  width: 55%; /* Icon size */
  height: 160%; /* Icon size */
  margin-right: 20px; /* Space between the icon and text/number */
}

.stat-content {
  display: flex;
  flex-direction: column; /* Stack the text and number vertically */
  justify-content: center;
  align-items: flex-start; /* Align text and number to the left */
}

.stat-box h3 {
  margin: -55px; /* Remove extra margin */
  font-size: 25px; /* Font size for header text */
  color: #333;
  margin-top: 15px;
  margin-left: -25px;
}

.number {
  font-size: 46px; /* Increase the number size */
  font-weight: bold;
  color: #333;
  margin-bottom: 10px; /* Space between text and number */
}
